body {
    text-align: center;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(104, 172, 163)
}

#guess-word-container {
    display: flex;
    justify-content: center;
}

.letter {
    font-size: 30px;
    display: inline-block;
    margin: 10px;
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
}


#messages-container {
    font-size: 2em;
}